workflow.json
{
  "name": "Project",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI-Powered Resume Builder & ATS Optimization Agent",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Existing Resume",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Job Description"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -640,
        -192
      ],
      "id": "0067f7bd-a69b-43e2-8298-8040c1c0e1ed",
      "name": "On form submission",
      "webhookId": "aed9e327-5992-43af-ac9e-a56c6967e548"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_Existing_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -416,
        -192
      ],
      "id": "af3bb164-0e46-47a1-9569-dc12ae5df7fe",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Extract from File\"].json[\"text\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional Resume Parser. Extract the following information from the provided text: Name, Contact Details, Education, Work Experience, and Skills. Output the data clearly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        -192
      ],
      "id": "ab776ef3-fd7d-42e6-8c8b-bcff21f7dc67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"Full Name\",\n  \"email\": \"email@example.com\",\n  \"skills\": [\"Skill 1\", \"Skill 2\"],\n  \"experience\": \"Brief summary of work\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -64,
        16
      ],
      "id": "0b5d9233-0705-4763-b027-d4ab128faebb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Calculate an ATS score from 0-100 based on the match between this Resume and this Job Description. Provide only the number.\n\nResume Data:\n\nJob Description: {{ $('On form submission').item.json['Job Description'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Output ONLY a single integer between 0 and 100. Do not include words or symbols."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -192
      ],
      "id": "6ae4c100-f37c-40c8-9bf3-7908a0d7ced4",
      "name": "Scorer"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ],
      "id": "9ff7f78e-f756-4cee-b061-a5ad6adf9743",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vtaTxCUxISwnj4TG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        32
      ],
      "id": "6f17c85d-6a9d-4e79-8276-ceef92d8905b",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "vtaTxCUxISwnj4TG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I need you to optimize the following resume data against the specific job description provided.\n\nTarget Job Description:\n{{ $node[\"On form submission\"].json[\"Job Description\"] }}\n\nCurrent Parsed Resume:{{ $('On form submission').item.json['Upload Existing Resume'][0] }}\n\n\nInstructions: > * Rewrite the 'Experience' bullet points using the X-Y-Z formula (Accomplished [X] as measured by [Y], by doing [Z]).\n\nEnsure 100% truthfulness—do not invent companies or degrees.\n\nIntegrate at least 5-10 high-priority keywords from the Job Description.\n\nOutput the results as a structured JSON object so I can map them to my LaTeX template.\".",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional resume optimizer. Rewrite the work experience bullet points to include action verbs and quantifiable results (e.g., 'Managed a team' becomes 'Led a team of 10, increasing productivity by 15%'). Naturally integrate keywords from the Job Description to ensure the final document is highly ATS-optimized"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        -192
      ],
      "id": "5cd97ce5-0268-4a59-ba9d-da2234a246f4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        336,
        16
      ],
      "id": "9ee2394d-8809-4678-a3ea-4863be930183",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "vtaTxCUxISwnj4TG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        144
      ],
      "id": "a0ce8d44-e1f7-4bcf-b3d8-9eb60b2949ab",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scorer": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9cbd6fcf-77ca-413d-b125-c125e8306831",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "161ea04a3721d28c2cb626f61c97bc70c8523d2960b92dffdf6990e2503492e8"
  },
  "id": "Qz_H778r3JiKtiwrO230N",
  "tags": []
}